@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:matthew12792@gmail.com">matthew12792@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/MChan127" target="_blank">MChan127</a>
</address>