@{
    ViewBag.Title = "Home";
}

<p>
    Welcome to Connect Four!<br /><br />

    How to play: Log in, click "Lobby" on the right, create a room, and play against a computer or a friend in a game of Connect Four, where the goal is to line up four game pieces in a row before your opponent.
</p>