@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Coiny');

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #ffffff;
}
a {
    color: #FF6991;
}
a:hover {
    color: #FF8CAB;
}
#wrapper {
    background-color: #000000;
    background-image: url('images/main_bg.jpg');
    background-position: left top;

    height: 100vh;
    width: 100vw;
}
#content {
    width: calc(60vw - 80px);

    float: left;
    margin-top: 15vh;
    padding: 0 30px 0 20px;
}
#nav {
    height: 95vh;
    width: calc(40vw - 30px);

    float: left;
}
#nav {
    border-left: 60px solid #72B133;
    background-color: #80CA35;
    position: relative;
}
#welcomeMsg {
    position: absolute;
    top: -5px;
    left: 21px;
}
#nav #title {
    font-family: "Coiny", sans-serif;
    font-size: 72px;
    color: #ffffff;
    margin: 15vh 0 0 15px;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
#nav ul {
    margin-left: 60px;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
#nav li a {
    margin: 7px 0;
    letter-spacing: 1px;

    padding: 6px 16px;
    display: inline-block;
    float: left;
    clear: left;
    background-color: #1686C1;

    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;

    border-radius: 3px;

    position: relative;
    
    text-decoration: none;
    color: inherit;
}
#nav li a:hover {
    letter-spacing: 7px;
    color: inherit;
}
#nav li a:hover span {
    background-color: #F72E2E;
}
#nav li .bullet {
    position: absolute;
    left: -39px;
    top: 5px;
    background-color: #FF3636;
    border-radius: 9999px;

    display: inline-block;
    width: 30px;
    height: 30px;
}

.failed-login ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

#footer {
    height: 5vh;
    width: 100vw;
    background-color: #1686C1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}